@use 'base/variables' as v;
@use 'base/mixins' as m;
.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
    .imagen {
        width: 100%;
        height: 50vh;
        background-image: url('/build/img/salon.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include m.tablet {
            height: auto;
        }
    }
    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;

        @include m.tablet{
            overflow: scroll;
        }
    }
}

.barra{
    margin-bottom: 7rem;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .boton{
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}